


:root {
    --text-primary: #1a1a1a;
    --text-violet: #6d519f;
    --text-gray: #858585;
    --black:#000;
    --white:#fff;
  }

  /* Graph 3 var */
  :root {
  --background: #121212;
  --card: #181818;
  --divider: #212121;
  --sidebar: #181818;
  --primary-text: #d1d5db;
  --secondary-text: #9ca3af;
  --accent: #0275d8;
  }